<%-include("partials/composerHeader")-%>
<h1>Compose</h1>
<div class="composer__container">
  <div class="projects__container">
    <% projects.reverse().forEach(function(project) {%>
      <a href="<%= project.url%>" class="project">
          <img src= "<%=project.image %>"  alt="">
          <div class="project__info">
              <h3><%= project.title%></h3>
              <p><%= project.content%></p>
              <div class="project__hoverDiv">
                <h3><%= project.title%></h3>
                <p><%= project.content%></p>
            </div>
              <form action="/delete" method="POST">
                <button class="delete" name="deleteBtn" type="submit" value="<%=project._id%>">delete</button>
              </form>
              
          </div>
      </a>
  <% }) %>
  </div>
  <div class="form__container">
    <form action="/deathcomposer" method="post">
      <div class="form-group">
          <label class="form-label">Title</label>
          <input type="text" name="projectTitle" class="form-control" autocomplete="off">
          <label class="form-label">Project-Url</label>
          <input type="text" name="projectUrl" class="form-control" autocomplete="off">
          <label class="form-label">Image-Url</label>
          <input type="text" name="imageUrl" class="form-control" autocomplete="off">
          <label class="form-label">Post</label>
          <textarea name="projectContent" class="form-control form-group" cols="30" rows="10"></textarea>
          <button type="submit" name="button" class="btn btn-primary">publish</button>
      </div>
  </form>
  </div>

</div>

  <%-include("partials/composerFooter")-%>