<%-include("partials/projectsHeader")-%>
<div class="projects__heading">
    <span class="rubber__heading">P</span>
    <span class="rubber__heading">r</span>
    <span class="rubber__heading">o</span>
    <span class="rubber__heading">j</span>
    <span class="rubber__heading">e</span>
    <span class="rubber__heading">c</span>
    <span class="rubber__heading">t</span>
    <span class="rubber__heading">s</span>
</div>
<div class="projects__container">
    <% projects.reverse().forEach(function(project) {%>
        <div class="project">
            <img src= "<%=project.image %>"  alt="">
            <div class="project__hoverDiv">
                <h3><%= project.title%></h3>
                <p><%= project.content%></p>
                <a href="<%= project.url%>" class="project__link">Check out the website</a>
            </div>
        
        </div>
    <% }) %>
</div>
<%-include("partials/projectsFooter")-%>